@charset "UTF-8";
/* load fonts */
@font-face {
  font-family: "NEXON Lv2 Gothic Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NEXON Lv2 Gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* css reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: middle;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "NEXON Lv2 Gothic";
  letter-spacing: 0.75px;
}

body {
  max-width: 360px;
  font-size: 0.9rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2.4rem 1.2rem;
}

#title {
  width: calc(19.2rem + 2px);
  padding-bottom: 0.5rem;
  border-bottom: 1px solid lightgrey;
}
#title h1 {
  display: inline-block;
  font-family: "NEXON Lv2 Gothic Bold";
  font-size: 1.1rem;
  text-align: left;
}
#title i {
  color: #430081;
  font-size: 0.75rem;
  padding: 0 0.5rem 0 0.5rem;
}

input[type=text],
input[type=password] {
  width: 12rem;
  height: 1.5rem;
  margin: 0 0.2rem;
  padding: 0.2rem 0.5rem;
  border: 1px solid grey;
  border-color: lightgrey;
  border-radius: 2px;
  font-size: 0.8rem;
  display: block;
  margin: 0.5rem 0;
  width: 16rem;
  font: inherit;
  letter-spacing: inherit;
}

input:focus {
  outline: none;
}

input.x {
  border-color: red;
}

.pw-condition.yes {
  color: #0099ff;
}

@media screen and (min-width: 360px) {
  html {
    display: flex;
    justify-content: center;
  }
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#log-in-box {
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem;
}

#input-box {
  display: flex;
  flex-direction: column;
}
#input-box input {
  width: 12rem;
  height: 1.5rem;
  margin: 0 0.2rem;
  padding: 0.2rem 0.5rem;
  border: 1px solid grey;
  border-radius: 2px;
  font-size: 0.8rem;
}
#input-box input:first-child {
  margin-bottom: 0.4rem;
}
#input-box input.x {
  border-color: red;
}

input[value=로그인] {
  background: #430081;
  color: white;
  border: none;
  border-radius: 5px;
  height: calc(4.2rem + 4px);
  width: 6rem;
  margin: 0.2rem;
  cursor: pointer;
  font-family: "NEXON Lv2 Gothic";
  letter-spacing: 0.75px;
}

#func {
  font-size: 0.8rem;
  color: grey;
  padding-top: 0.5rem;
}
#func a {
  padding: 0 0.4rem;
  color: black;
  text-decoration: none;
}/*# sourceMappingURL=style-mainpage.css.map */